* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: rgb(18, 18, 19);
}

.navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, sans-serif !important;
}

.selectpart {
    background: rgb(18, 18, 19) !important;
    color: rgb(230, 230, 230) !important;
    border: none !important;
    border-radius: 0 !important;
}

.optionValue {
    background: rgb(25, 25, 27) !important;
    color: rgb(230, 230, 230) !important;
    border: none !important;
    border-radius: 0 !important;
}

.calculate {
    border-radius: 0!important;
    width: 70%;
    margin-bottom: 50px;
}

input {
    border-radius: 0 !important;
    font-size: 15px !important;
    font-weight: 600 !important;
}

.listofdata{
    display: flex !important;
    min-width:  90px;
    height: 50px;
    font-size: 12px;
    background: rgb(240, 240, 240) !important;
    border: none !important;
    font-weight: bold;
}